*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
.header_inner{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.navbar__list{   
    position: relative; 
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none; ;
}
.list_linkSelect{
    display: none;
    position: absolute;
    left: 80px;
   
}
.mainLinks{
    text-decoration: none;
    text-transform:uppercase;
}
.selaectis::after{
    content: "^";    
    display: block;
    margin-left: 85px;
    margin-top: -17px;
}
.selaectis:hover{
    .list_linkSelect{
        display: block;
    } 
}

.logIn{
    border: none;
    background: #fff;
    padding: 10px 15px;
    border-radius: 8px;
}
.logIn:hover{
    background: #000;
    color: #fff;
}
.signUp{
    border: none;
    background: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 15px;
}
.signUp:hover{   
    background: #000;
    color: #fff;
}

.hero__inner{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.hero__info{
   margin-top: -50px; 
}
.hero__title{
    text-transform: uppercase;
    font-size: 62px;
    font-weight: 800;     
}
.line{
    display: block;
    width: 335px;
    height: 4px;
    background: #000;
    margin: 60px 0;
}
.advertising{
    margin: 35px 0 0 60px;
}
.hero_img{
    width: 60%;
}
.toggle{
    display: block;
    width: 35px;
    height: 30px;      
}
.togleLine{
    display: block;
    width: 30px;
    height: 4px;
    background: #000;
    margin:5px 0;
    border-radius: 5px;
}
.toggleAcaid{    
    margin-left:auto;  
    position: absolute;
    width: 300px;
    height: 200px;
    background: #000;  
}
.display{
    display: none;
}
.toggle__list{
    list-style-type: none;  
}